<app-header title="{{pageTitle}}"></app-header>

<div class="page-area">

  <div class="form-area">
    <div [formGroup]="fg">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nom" formControlName="name">
        <mat-error *ngIf="fcName.invalid">
          Un nom de programme est requis.
        </mat-error>
      </mat-form-field>

      <div class="input-btn">
        <mat-form-field class="input">
          <input matInput placeholder="Programme" formControlName="file">
        </mat-form-field>
        <app-button [label]="'Parcourir'" [style]="'primary'"></app-button>
      </div>

      <div class="input-btn">
        <mat-form-field class="full-width-input">
          <mat-label>Outil</mat-label>
          <mat-select formControlName="tool">
            <mat-option>
              <ngx-mat-select-search [placeholderLabel]="'Rechercher'" [noEntriesFoundLabel]="'Aucun résultat trouvé'"
                (click)="resetTool()" (keyup)="filterTool()" [formControl]="fcToolSearch" placeholder="Rechercher">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option (click)="resetTool()">Aucun</mat-option>
            <mat-option *ngFor="let tool of filteredTools.asObservable() | async" [value]="tool" (click)="resetTool()">
              {{tool.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-btn">
        <mat-form-field class="full-width-input">
          <mat-label>Tige de carbure</mat-label>
          <mat-select formControlName="blank">
            <mat-option>
              <ngx-mat-select-search [placeholderLabel]="'Rechercher'" (click)="resetBlank()" (keyup)="filterBlank()"
                [formControl]="fcBlankSearch" [noEntriesFoundLabel]="'Aucun résultat trouvé'" placeholder="Rechercher">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option (click)="resetClient()">Aucune</mat-option>
            <mat-option *ngFor="let blank of filteredBlanks.asObservable() | async" [value]="blank"
              (click)="resetBlank()">
              {{blank.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="full-width-input">
        <mat-label>Machine</mat-label>
        <mat-select formControlName="machine">
          <mat-option>
            <ngx-mat-select-search [placeholderLabel]="'Rechercher'" (click)="resetMachine()" (keyup)="filterMachine()"
              [formControl]="fcMachineSearch" [noEntriesFoundLabel]="'Aucun résultat trouvé'" placeholder="Rechercher">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let machine of filteredMachines.asObservable() | async" [value]="machine"
            (click)="resetMachine()">
            {{machine.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="fcMachine.invalid">
          Une machine est requise.
        </mat-error>
      </mat-form-field>

    </div>

    <div class="btn-save" *ngIf="addingProgram">
        <app-button [label]="'Retour'" [style]="'secondary'" (clicked)="onReturn()"></app-button>
      <app-button class="space-btn" [label]="'Créer le programme'" [style]="'primary'" (clicked)="onCreate()"></app-button>
    </div>

    <div *ngIf="!addingProgram" [formGroup]="clientFg">
      <div class="input-btn">
        <mat-form-field class="input">
          <mat-label>Client</mat-label>
          <mat-select formControlName="client">
            <mat-option>
              <ngx-mat-select-search [placeholderLabel]="'Rechercher'" (click)="resetClient()" (keyup)="filterClient()"
                [formControl]="fcClientSearch" [noEntriesFoundLabel]="'Aucun résultat trouvé'" placeholder="Rechercher">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let client of filteredClients.asObservable() | async" [value]="client"
              (click)="resetClient()">
              {{client.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="clientFg.invalid">
            Vous devez choisir un client.
          </mat-error>
        </mat-form-field>
        <app-button class="btn" [label]="'Ajouter un client'" [style]="'primary'" (clicked)="addClient()"></app-button>
      </div>

      <div class="client-container">
        <div class="client-list" *ngFor="let client of program$ | async">
          <div>{{client.name}}</div>
          <mat-icon class="btn-delete" (click)="deleteClient(client.idClient)">delete</mat-icon>
        </div>
      </div>
    </div>

    <div class="btn-save" *ngIf="!addingProgram">
      <app-button [label]="'Retour'" [style]="'secondary'" (clicked)="onReturn()"></app-button>
      <app-button class="space-btn" [label]="'Sauvegarder'" [style]="'primary'" (clicked)="onSave()"></app-button>
    </div>

  </div>
</div>
