<app-header [title]="'Rapports'"></app-header>

<div [formGroup]="fg">
  <mat-form-field class="search-select">
    <mat-label>Client</mat-label>
    <mat-select formControlName="client" (selectionChange)="canApplyFilterClient()">
      <mat-option>
        <ngx-mat-select-search [placeholderLabel]="'Rechercher'" [noEntriesFoundLabel]="'Aucun résultat trouvé'"
          (click)="resetClient()" (keyup)="filterClient()" [formControl]="fcClientSearch" placeholder="Rechercher">
        </ngx-mat-select-search>
      </mat-option>
      <mat-option (click)="resetClient()">Aucun</mat-option>
      <mat-option *ngFor="let client of filteredClients.asObservable() | async" [value]="client"
        (click)="resetClient()">
        {{client.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="chart-container">
  <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
  </ngx-charts-bar-vertical-2d>
</div>
