<app-header [title]="'Rapports'"></app-header>

<div class="page-content">
  <div [formGroup]="fg" class="choices">
    <div class="titles">
      <h2 class="date-selection">Choisisser les dates:</h2>
      <h2 class="search-select">Choisisser le ou les clients:</h2>
    </div>
    <div class="inputs">
      <div class="date-selection">
        <mat-form-field class="datepicker">
          <input (dateInput)="dateChange()" matInput placeholder="De" formControlName="startDate"
            [matDatepicker]="startPicker">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="datepicker">
          <input (dateInput)="dateChange()" matInput placeholder="À" formControlName="endDate"
            [matDatepicker]="endPicker">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field class="search-select">
        <mat-label>Client</mat-label>
        <mat-select formControlName="client" (selectionChange)="makeChart()" multiple>
          <mat-option>
            <ngx-mat-select-search [placeholderLabel]="'Rechercher'" [noEntriesFoundLabel]="'Aucun résultat trouvé'"
              (click)="resetClient()" (keyup)="filterClient()" [formControl]="fcClientSearch" placeholder="Rechercher">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let client of filteredClients.asObservable() | async" [value]="client"
            (click)="resetClient()">
            {{client.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div *ngIf="true" class="chart-container">
    <app-header [title]="'Nombre d\'heures passées sur les tâches selon le client'"></app-header>
    <div class="space-before"></div>
    <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="clientsAndTasks" [gradient]="gradient"
      [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [legendTitle]="legendTitle"
      [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
    </ngx-charts-bar-vertical-2d>
  </div>
</div>
