.menu {
  background-color: #000000 !important;
  color: white !important;
}

.btn-menu {
  border: none;
  background-color: #000000 !important;
  color: white !important;
}

.btn-menu:hover {
  background-color: #2370b8 !important;
}

.header {
  background-color: #444444 !important;
  color: white !important;
  font-size: 28px;
  padding: 10px 0px;
}

.title {
  background-color: #213343 !important;
  color: white !important;
}

.table-header {
  background-color: none !important;
  color: #2370b8 !important;
  font-weight: bold;
}

.table-row {
  background-color: none !important;
  color: #000000 !important;
}

.table-row:hover {
  background-color: rgb(35,112,184,0.25) !important;
}

html, body { height: 100%; }
body { margin: 0; }

@font-face {
  font-family: Roboto;
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Roboto Bold;
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Roboto Light;
  src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: Roboto Medium;
  src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
}
