<app-header *ngIf="id" [title]="'Gestion de la feuille de travail ' + worksheet?.idWorkSheet"></app-header>
<app-header *ngIf="!id" [title]="'Création d\'une feuille de travail'"></app-header>

<div class="page-wrapper">
  <div class="form">
    <form [formGroup]="worksheetForm" class="worksheet">

      <div class="two-items">
        <mat-form-field class="mid">
          <input matInput placeholder="Numéro de commande" formControlName="orderNumber">
          <mat-error
            *ngIf="worksheetForm.controls.orderNumber.hasError('maxLength')">
            Un maximum de 254 caractères est permis.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mid">
          <mat-label>Client</mat-label>
          <mat-select formControlName="client">
            <mat-option *ngFor="let client of clients" [value]="client">
              {{client.name}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="worksheetForm.controls.client.hasError('required')">
            Un client est requis.
          </mat-error>
        </mat-form-field>
      </div>


      <mat-form-field class="full-width">
        <mat-label>Programme</mat-label>
        <mat-select formControlName="program" (valueChange)="setInfoProgram($event)">
          <mat-option *ngFor="let program of programs" [value]="program">
            {{program.name}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="worksheetForm.controls.program.hasError('required')">
          Un programme est requis.
        </mat-error>
      </mat-form-field>

      <div class="two-items">
        <mat-form-field class="mid">
          <input matInput placeholder="Machine" formControlName="machine">
        </mat-form-field>

        <mat-form-field class="mid">
          <input matInput placeholder="Outil" formControlName="tool">
        </mat-form-field>
      </div>

      <div class="two-items">
        <mat-form-field class="mid">
          <input matInput placeholder="Quantité à faire" type="number" formControlName="quantity">
        </mat-form-field>

        <mat-form-field class="mid">
          <input matInput placeholder="Date due" formControlName="dueDate" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

    </form>

    <div class="actions">
      <app-button [style]="'secondary'" [label]="'Annuler'" (click)="cancel()"></app-button>
      <app-button [style]="'primary'" [label]="'Sauvegarder'" (click)="save()" class="right-button"></app-button>
    </div>
  </div>

  <div class="tasks-container" *ngIf="worksheet?.idWorkSheet">
    <div class="new-timer">
      <div class="title">Chronomètre</div>

      <form class="new-task" [formGroup]="taskForm">

        <mat-form-field class="mid">
          <mat-label>Tâche</mat-label>
          <mat-select formControlName="taskType">
            <mat-option *ngFor="let taskType of taskTypes" [value]="taskType">
              {{taskType.description}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="taskForm.controls.taskType.hasError('required')">
            Un type de tâche est requis.
          </mat-error>
        </mat-form-field>

        <countup-timer [countUpTimerConfig]="timerConfig"></countup-timer>

        <app-button *ngIf="!timerRunning" [style]="'primary'" [label]="'Commencer'" (click)="start()"></app-button>
        <app-button *ngIf="timerRunning" [style]="'primary'" [label]="'Arrêter'" (click)="saveTask()"></app-button>
      </form>

    </div>

    <div class="mat-elevation-z0">

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="taskType">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="column header">TÂCHE</mat-header-cell>
          <mat-cell *matCellDef="let row" class="column"> {{row.taskType.description | truncate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="employee">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="column header">EMPLOYÉ</mat-header-cell>
          <mat-cell *matCellDef="let row" class="column"> RR</mat-cell>
        </ng-container>

        <ng-container matColumnDef="start">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="column header"></mat-header-cell>
          <mat-cell *matCellDef="let row" class="column">
            <div *ngIf="selectedIndex !== row.idTask">{{row.startTime | date:'h:mm a'}}</div>
            <div *ngIf="selectedIndex === row.idTask">
              <input [ngxTimepicker]="start" [(ngModel)]="startTime" value="{{row.startTime | date:'h:mm a'}}">
              <ngx-material-timepicker #start></ngx-material-timepicker>
            </div>
          </mat-cell>

        </ng-container>

        <ng-container matColumnDef="end">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header"></mat-header-cell>
          <mat-cell *matCellDef="let row" class="column">
            <div *ngIf="selectedIndex !== row.idTask">{{row.endTime | date:'h:mm a'}}</div>
            <div *ngIf="selectedIndex === row.idTask">
              <input [ngxTimepicker]="end" [(ngModel)]="endTime" value="{{row.endTime | date:'h:mm a'}}">
              <ngx-material-timepicker #end></ngx-material-timepicker>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header"></mat-header-cell>
          <mat-cell *matCellDef="let row" class="column"> {{row.duration}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="controls">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="header controls"></mat-header-cell>
          <mat-cell *matCellDef="let row" class="controls">
            <mat-icon class="edit" *ngIf="selectedIndex !== row.idTask" (click)="editTask(row)">edit</mat-icon>
            <mat-icon class="edit" *ngIf="selectedIndex === row.idTask" (click)="updateTask(row)">save</mat-icon>
            <mat-icon class="delete" (click)="deleteTask(row.idTask)">delete</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="header"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>

  </div>
</div>
