
<!-- TODO angular material test (remove) -->
<h1>Affichage des couleurs de l'app:</h1>
<mat-card class="menu">menu color</mat-card>
<mat-card class="btn-menu">btn-menu color</mat-card>
<mat-card class="header">header color</mat-card>
<mat-card class="title">title color</mat-card>
<mat-card class="table-header">table-header color</mat-card>
<mat-card class="table-row">table-row color</mat-card>
<h1>Affichage des couleurs thématique de angular matérial:</h1>
<button mat-raised-button color="primary">primary</button>
<button mat-raised-button color="accent">accent</button>
<button mat-raised-button color="warn">Allo4</button>
