<h1 mat-dialog-title class="title" *ngIf="data">Modifier un outil</h1>
<h1 mat-dialog-title class="title" *ngIf="!data">Ajouter un outil</h1>

<form mat-dialog-content class="content" [formGroup]="blankForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="Nom" formControlName="name">
    <mat-error *ngIf="blankForm.controls.name.hasError('required')">
      Un nom est requis.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Grade</mat-label>
    <mat-select formControlName="grade">
      <mat-option *ngFor="let grade of grades" [value]="grade">
        {{grade.description}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="blankForm.controls.grade.hasError('required')">
      Un client est requis.
    </mat-error>
  </mat-form-field>

  <div class="quantities">
    <mat-form-field class="mid">
      <input matInput placeholder="Quantité en stock" type="number" formControlName="stockQuantity">
      <mat-error *ngIf="blankForm.controls.stockQuantity.hasError('required')">
        Une quantité est requise.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mid">
      <input matInput placeholder="Quantité minimum" type="number" formControlName="minimumQuantity">
      <mat-error *ngIf="blankForm.controls.minimumQuantity.hasError('required')">
        Une quantité est requise.
      </mat-error>
    </mat-form-field>
  </div>

</form>
<div mat-dialog-actions class="controls">
  <app-button [style]="'secondary'" [label]="'Annuler'" (click)="onNoClick()"></app-button>
  <app-button [style]="'primary'" [label]="'Sauvegarder'" (click)="close()"></app-button>
</div>
