<form class="add-form" [formGroup]="maintenanceForm">
  <mat-form-field class="description-input input">
    <input matInput placeholder="Description" formControlName="description">
    <mat-error
      *ngIf="maintenanceForm.controls.description.hasError('required')">
      Une description est requise.
    </mat-error>
    <mat-error
      *ngIf="!maintenanceForm.controls.description.hasError('required') && maintenanceForm.controls.description.hasError('maxLength')">
      Un maximum de 254 caractères est permis.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="date-input input">
    <input matInput placeholder="Date" formControlName="date" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="maintenanceForm.controls.date.hasError('required')">
      Une date est requise.
    </mat-error>
  </mat-form-field>

  <div class="controls">
    <app-button [label]="'Ajouter'" [style]="'primary'" (click)="add()"></app-button>
  </div>
</form>

<div class="mat-elevation-z0">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="description header">DESCRIPTION</mat-header-cell>
      <mat-cell *matCellDef="let row" class="description"> {{row.description | truncate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="date header">DATE</mat-header-cell>
      <mat-cell *matCellDef="let row" class="date"> {{row.date | date:'dd-MM-yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="controls">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="header controls"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="controls">
        <mat-icon class="delete" (click)="deleteMaintenance(row.idMaintenance)">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="header"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
