.btn-edit,
.btn-delete {
  height: 20px;
  width: 35px;
  background: none;
  border: none;
  color: #c0c0c0;
  cursor: pointer;
}

.btn-edit:hover {
  color: #2370b8;
  transition: 0.2s all ease;
}

.btn-delete:hover {
  color: #ff3823;
  transition: 0.2s all ease;
}

.search-add {
  display: flex;
  justify-content: space-around;
}

.search-add-content{
  display: flex;
  width: 90%;
}

.table {
  margin: 0 auto;
  width: 90%;
}

.controls {
  max-width: 10%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.search-add {
  margin: 20px 0;
}

.search-content {
  width: 75%;
}

.search {
  width: 90%;
  height: 30px;
  font-size: 15px;
}

.add-user-button {
  width: 25%;
}

.btn-add-user {
  width: 90%;
  height: 30px;
}

.table-header {
  color: #2370b8;
  font-weight: bold;
  font-size: 15px;
}

.table-row {
  background-color: none;
  color: #000000;
}

.table-row:hover {
  background-color: rgb(35, 112, 184, 0.25);
}
