.my-header {
  background-color: #444444 !important;
  color: white !important;
  font-size: 28px;
  padding: 10px 0px;
}

.my-header-content {
  display: flex;
  justify-content: space-around;
}

.my-header-text {
  display: flex;
  width: 90%;
}

