.header {
  background-color: #444444;
  color: white;
  font-size: 28px;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-around;
}

.header-text {
  display: flex;
  width: 90%;
}

