<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nova.gestion.mappers.ClientMapper">

    <resultMap id="ClientMap" type="nova.gestion.model.Client">
        <id column="id_client" javaType="int" property="idClient"/>
        <result column="name" javaType="string" property="name"/>
        <result column="phone_number" javaType="int" property="phoneNumber"/>
    </resultMap>

    <select id="getClient" parameterType="Long" resultMap="ClientMap">
        SELECT * FROM `nova_gestion`.`client`
        WHERE `nova_gestion`.`client`.id_client = #{idClient};
    </select>

    <select id="getAllClient"  resultMap="ClientMap">
        SELECT * FROM `nova_gestion`.`client`;
    </select>



</mapper>