<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.nova.gestion.mappers.FileProgramMapper">
    <resultMap id="FileProgramMap" type="ca.nova.gestion.model.FileProgram">
        <constructor>
            <idArg name="idTaFileProgram" column="id_ta_file_program"/>
            <arg name="idProgram" column="id_program"/>
        </constructor>
        <id column="id_ta_file_program" property="idTaFileProgram" javaType="Integer"/>
        <result column="id_program" property="idProgram" javaType="Integer"/>
        
        <association property="file" column="id_file" javaType="ca.nova.gestion.model.File"
                     select="ca.nova.gestion.mappers.FileMapper.selectFile"/>
    </resultMap>

    <select id="selectFileProgram" parameterType="Integer" resultMap="FileProgramMap">
        SELECT * FROM `nova_gestion`.ta_file_program WHERE id_ta_file_program = #{idTaFileProgram};
    </select>

    <select id="selectAllFileProgramByIdProgram" parameterType="Integer" resultMap="FileProgramMap">
        SELECT * FROM `nova_gestion`.ta_file_program WHERE id_program = #{idProgram};
    </select>

    <insert id="insertFileProgram" parameterType="ca.nova.gestion.model.FileProgram" keyProperty="idTaFileProgram" useGeneratedKeys="true">
        INSERT INTO `nova_gestion`.ta_file_program(id_file, id_program) VALUE (#{file.fileName}, #{idProgram})
    </insert>

    <delete id="deleteFileProgram" parameterType="Integer">
        DELETE FROM `nova_gestion`.ta_file_program WHERE id_ta_file_program = #{idTaFileProgram};
    </delete>

</mapper>