<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.nova.gestion.mappers.GradeMapper">

    <resultMap id="GradeMap" type="ca.nova.gestion.model.Grade">
        <id property="code" column="code" javaType="int"/>
        <result property="description" column="description" javaType="string"/>
    </resultMap>


    <select id="getGrade" parameterType="int" resultMap="GradeMap">
        SELECT * FROM `nova_gestion`.`grade`
        WHERE code = #{code};
    </select>

    <select id="getAllGrades" resultMap="GradeMap">
        SELECT * FROM `nova_gestion`.`grade`;
    </select>
</mapper>