<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nova.gestion.mappers.MachineMapper">

    <resultMap id="MachineMap" type="nova.gestion.model.Machine">
        <constructor>
            <arg name="idMachine" column="id_machine"/>
            <arg name="name" column="name"/>
            <arg name="serialNumber" column="serial_number"/>
            <arg name="acquisitionDate" column="acquisition_date"/>
        </constructor>

        <id column="id_machine" javaType="int" property="idMachine"/>
        <result column="name" javaType="string" property="name"/>
        <result column="serial_number" javaType="string" property="serialNumber"/>
        <result column="acquisition_date" javaType="date" property="acquisitionDate"/>

        <association column="id_model" property="model" javaType="nova.gestion.model.Model"
                     select="nova.gestion.mappers.ModelMapper.getModel"/>

        <collection column="id_machine" property="maintenances" javaType="ArrayList"
                     select="nova.gestion.mappers.MaintenanceMapper.getMaintenancesByMachine"/>
    </resultMap>

    <select id="getMachine" parameterType="int" resultMap="MachineMap">
        SELECT *
        FROM `nova_gestion`.`machine`
        WHERE `nova_gestion`.`machine`.id_machine = #{idMachine};
    </select>

    <select id="getAllMachines" resultMap="MachineMap">
        SELECT * FROM `nova_gestion`.`machine` WHERE activated = TRUE;
    </select>

    <insert id="insertMachine" parameterType="nova.gestion.model.Machine" keyProperty="idMachine" useGeneratedKeys="true">
        INSERT INTO `nova_gestion`.`machine`(id_model, name , serial_number, acquisition_date)
        VALUES (#{model.idModel}, #{name}, #{serialNumber}, #{acquisitionDate});
    </insert>

    <update id="updateMachine" parameterType="nova.gestion.model.Machine">
        UPDATE `nova_gestion`.`machine` SET
        <if test="name  != null">name = #{name},</if>
        <if test="serialNumber != null"> serial_number = #{serialNumber},</if>
        <if test="acquisitionDate != null"> acquisition_date = #{acquisitionDate}</if>
        WHERE id_machine = #{idMachine};
    </update>

    <update id="deleteMachine" parameterType="int">
        UPDATE `nova_gestion`.`machine`
        SET activated = FALSE
        WHERE `nova_gestion`.`machine`.id_machine = #{idMachine};
    </update>

</mapper>