<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nova.gestion.mappers.ModelMapper">

    <resultMap id="ModelMap" type="nova.gestion.model.Model">
        <id column="id_model" javaType="int" property="idModel"/>
        <result column="name" javaType="string" property="name"/>
        <result column="company" javaType="string" property="company"/>
    </resultMap>

    <select id="getModel" parameterType="int" resultMap="ModelMap">
        SELECT * FROM `nova_gestion`.`model`
        WHERE `nova_gestion`.`model`.id_model = #{idModel};
    </select>

    <select id="getAllModels" resultMap="ModelMap">
        SELECT * FROM `nova_gestion`.`model`;
    </select>

    <insert id = "insertModel" parameterType = "nova.gestion.model.Model" useGeneratedKeys="true" keyProperty="idModel">
       INSERT INTO `nova_gestion`.`model` (name, company)
       VALUES (#{name}, #{company});
    </insert>

    <update id = "updateModel" parameterType = "nova.gestion.model.Model" >
        UPDATE `nova_gestion`.`model` SET
        <if test="name != null">name = #{name},</if>
        <if test="company != null">company = #{company},</if>
        WHERE id_model = #{idModel};
    </update>



</mapper>