<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nova.gestion.mappers.NotificationMapper">

    <resultMap id="NotificationMap" type="nova.gestion.model.Notification">
        <id property="idNotification" column="id_notification"/>
        <result property="viewed" column="viewed"/>
        
        <association property="blank" column="blank_id" javaType="nova.gestion.model.Blank"
                     select="nova.gestion.mappers.BlankMapper.getBlank" />
    </resultMap>

    <select id="getNotViewedNotifications" resultMap="NotificationMap" >
        SELECT * FROM `nova_gestion`.notification WHERE viewed = FALSE;
    </select>

    <update id="updateToViewed" parameterType="Integer" >
        UPDATE `nova_gestion`.notification SET viewed = TRUE WHERE id_notification = #{idNotification};
    </update>

</mapper>