<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nova.gestion.mappers.ProgramMapper">

    <resultMap id="ProgramMap" type="nova.gestion.model.Program">
        <constructor>
            <arg name="idProgram" column="id_program"/>
            <arg name="name" column="name"/>
            <arg name="file" column="file"/>
            <arg name="activated" column="activated"/>
        </constructor>
        <id column="id_program" javaType="int" property="idProgram"/>
        <result column="name" javaType="string" property="name"/>
        <result column="file" javaType="string" property="file"/>
        <result column="activated" javaType="boolean" property="activated"/>

        <association column="id_machine" property="machine" javaType="nova.gestion.model.Machine"
                     select="nova.gestion.mappers.MachineMapper.getMachine"/>

        <association column="id_tool" property="tool" javaType="nova.gestion.model.Tool"
                     select="nova.gestion.mappers.ToolMapper.getTool"/>

        <association column="id_blank" property="blank" javaType="nova.gestion.model.Blank"
                     select="nova.gestion.mappers.BlankMapper.getBlank"/>

       <!-- <collection column="id_program" property="clients" javaType="ArrayList"
                    select="nova.gestion.mappers.WorkSheetClientProgramMapper.getProgramsByClient"/> -->
    </resultMap>


    <select id="getProgram" parameterType="int" resultMap="ProgramMap">
        SELECT *
        FROM `nova_gestion`.`program`
        WHERE `nova_gestion`.`program`.id_program = #{idProgram} AND `nova_gestion`.`program`.activated = 1;
    </select>

    <select id="getAllPrograms" resultMap="ProgramMap">
        SELECT * FROM `nova_gestion`.`program` WHERE `nova_gestion`.`program`.activated = 1;
    </select>

    <insert id="insertProgram" parameterType="nova.gestion.model.Program" keyProperty="idProgram" useGeneratedKeys="true">
        INSERT INTO `nova_gestion`.`program`(id_machine, id_tool, id_blank, name, file)
        VALUES (#{machine.idMachine}, #{tool.idTool}, #{blank.idBlank}, #{name}, #{file});
    </insert>

    <update id="updateProgram" parameterType="nova.gestion.model.Program">
        UPDATE `nova_gestion`.`program` SET
        <if test="machine != null">id_machine = #{machine.idMachine},</if>
        <if test="tool != null"> id_tool = #{tool.idTool},</if>
        <if test="blank != null"> id_blank = #{blank.idBlank},</if>
        <if test="name != null"> name = #{name},</if>
        <if test="file != null"> file = #{file}</if>
        WHERE id_program = #{idProgram};
    </update>

    <delete id="deleteProgram" parameterType="int">
        UPDATE `nova_gestion`.`program` SET `activated` = 0 WHERE `nova_gestion`.`program`.id_program = #{idProgram};
      <!--  DELETE FROM `nova_gestion`.`program` WHERE `nova_gestion`.`program`.id_program = #{idProgram};-->
    </delete>

</mapper>