<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nova.gestion.mappers.ProgramMapper">

    <resultMap id="ProgramMap" type="nova.gestion.model.Program">
        <constructor>
            <arg name="idProgram" column="id_program"/>
            <arg name="name" column="name"/>
            <arg name="file" column="file"/>
        </constructor>
        <id column="id_program" javaType="int" property="idProgram"/>
        <result column="name" javaType="string" property="name"/>
        <result column="file" javaType="string" property="file"/>

        <association column="id_machine" property="machine" javaType="nova.gestion.model.Machine"
                     select="nova.gestion.mappers.MachineMapper.getMachine"/>

        <association column="id_tool" property="tool" javaType="nova.gestion.model.Tool"
                     select="nova.gestion.mappers.ToolMapper.getTool"/>

        <association column="id_client" property="client" javaType="nova.gestion.model.Client"
                     select="nova.gestion.mappers.ClientMapper.getClient"/>

        <association column="id_blank" property="blank" javaType="nova.gestion.model.Blank"
                     select="nova.gestion.mappers.BlankMapper.getBlank"/>
    </resultMap>

    <select id="getProgram" parameterType="int" resultMap="ProgramMap">
        SELECT *
        FROM `nova_gestion`.`program`
        WHERE `nova_gestion`.`program`.id_program = #{idProgram};
    </select>

    <select id="getAllPrograms" resultMap="ProgramMap">
        SELECT * FROM `nova_gestion`.`program`;
    </select>

</mapper>