<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nova.gestion.mappers.ToolMapper">

    <resultMap id="ToolMap" type="nova.gestion.model.Tool">
        <id column="id_tool" javaType="int" property="idTool"/>
        <result column="name" javaType="string" property="name"/>
        <result column="stock_quantity" javaType="int" property="stockQuantity"/>
        <result column="minimum_quantity" javaType="int" property="minimumQuantity"/>
    </resultMap>

    <select id="getTool" parameterType="Long" resultMap="ToolMap">
        SELECT * FROM `nova_gestion`.`tool`
        WHERE `nova_gestion`.`tool`.id_tool = #{idTool};
    </select>

    <select id="getAllTool"  resultMap="ToolMap">
        SELECT * FROM `nova_gestion`.`tool`;
    </select>

    <insert id = "insertTool" parameterType = "nova.gestion.model.Tool">
       INSERT INTO `nova_gestion`.`tool` (name, stock_quantity, minimum_quantity)
       VALUES (#{name}, #{stockQuantity}, #{minimumQuantity});
    </insert>

    <update id = "updateTool" parameterType = "nova.gestion.model.Tool">
       UPDATE `nova_gestion`.`tool` SET
                    <if test="name != null">name = #{name},</if>
                    <if test="stockQuantity != null">stock_quantity = #{stockQuantity},</if>
                    <if test="minimumQuantity != null">minimum_quantity = #{minimumQuantity}</if>
                    WHERE id_tool = #{idTool};
    </update>

    <delete id = "deleteTool" parameterType = "nova.gestion.model.Tool">
        DELETE FROM `nova_gestion`.`tool` WHERE id_tool = #{idTool};
    </delete>

</mapper>