<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.nova.gestion.mappers.TypeCoolantHoleMapper">

    <resultMap id="TypeCoolantHoleMap" type="ca.nova.gestion.model.TypeCoolantHole">
        <id property="idTypeCoolantHole" column="id_type_coolant_hole" javaType="int"/>
        <result property="name" column="name" javaType="string"/>
    </resultMap>

    <select id="getTypeCoolantHole" parameterType="int" resultMap="TypeCoolantHoleMap">
        SELECT * FROM `nova_gestion`.`type_coolant_hole`
        WHERE id_type_coolant_hole = #{idTypeCoolantHole};
    </select>

    <select id="getAllCoolantHoleTypes" resultMap="TypeCoolantHoleMap">
        SELECT * FROM `nova_gestion`.`type_coolant_hole`;
    </select>
</mapper>