<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nova.gestion.mappers.UserMapper">

    <resultMap id="UserTest" type="nova.gestion.model.User">
        <id column="id_user" javaType="int" property="idUser"/>
        <result column="email" javaType="string" property="email"/>
        <result column="password" javaType="string" property="password"/>
        <association property="employee" javaType="nova.gestion.model.Employee" column="id_employee"
                     select="nova.gestion.mappers.EmployeeMapper.getEmployee"/>
        <association property="typeUser" javaType="nova.gestion.model.TypeUser" column="id_user_type"
                     select="nova.gestion.mappers.TypeUserMapper.getTypeUser"/>
    </resultMap>

    <select id="getUser" parameterType="Long" resultMap="UserTest">
        SELECT * FROM `nova_gestion`.`user`
        WHERE `nova_gestion`.`user`.id_user = #{userId};
    </select>

</mapper>