<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nova.gestion.mappers.UserMapper">

    <resultMap id="UserTest" type="nova.gestion.model.User">
        <id column="id_user" property="idUser"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="id_employe" property="idEmploye"/>
        <result column="id_user_type" property="idUserType"/>
    </resultMap>

    <select id="getUser" parameterType="Long" resultMap="UserTest">
        SELECT * FROM `nova_gestion`.`user`
        WHERE `nova_gestion`.`user`.id_user = #{userId};
    </select>

</mapper>