<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nova.gestion.mappers.WorkSheetClientProgramMapper">

    <resultMap id="WorkSheetClientProgramMap" type="nova.gestion.model.WorkSheetClientProgram">
        <constructor>
            <arg name="idTaWorkSheetClientProgram" column="id_ta_work_sheet_client_program"/>
        </constructor>
        <id column="idTaWorkSheetClientProgram" javaType="int" property="id_ta_work_sheet_client_program"/>

        <association column="id_program" property="program" javaType="nova.gestion.model.Program"
                     select="nova.gestion.mappers.ProgramMapper.getProgram"/>

        <association column="id_client" property="client" javaType="nova.gestion.model.Client"
                     select="nova.gestion.mappers.ClientMapper.getClient"/>
    </resultMap>

    <select id="getWorkSheetClientProgram" parameterType="int" resultMap="WorkSheetClientProgramMap">
        SELECT id_program, id_client
        FROM `nova_gestion`.`ta_work_sheet_client_program`
        WHERE `nova_gestion`.`ta_work_sheet_client_program`.id_ta_work_sheet_client_program = #{idTaWorkSheetClientProgram};
    </select>


    <insert id="insertWorkSheetClientProgram" parameterType="nova.gestion.model.WorkSheetClientProgram" keyProperty="idTaWorkSheetClientProgram" useGeneratedKeys="true">
        INSERT INTO `nova_gestion`.`ta_work_sheet_client_program`(id_program, id_client)
        VALUES (#{program.idProgram}, #{client.idClient});
    </insert>

</mapper>