.button {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 4px;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.primary {
  color: #fff;
  background: #2370b8;
}

.secondary {
  color: #444;
  background: #f1f1f6;
}

.green {
  color: #f1f1f6;
  background: #92d36e;
}

.red {
  color: #f1f1f6;
  background: #E94922;
}

.button:hover {
  text-shadow: 0 0 18px rgb(255, 255, 255);
  -webkit-transition: 0.3s color ease;
  transition: 0.3s color ease;
}
