<div class="nav-wrapper">
  <div class="header">
    <img src="../../../assets/images/amlogo.png" alt="Logo Affut Mill"/>
    <div class="title">Nova Gestion</div>
    <div class="user">Administrateur</div>
  </div>
  <div class="links">
    <a routerLink="home" title="Accueil" routerLinkActive="active">
      <i class="material-icons md-18">home</i>
      Accueil
    </a>
    <a routerLink="programs" title="Programmes" routerLinkActive="active">
      <i class="material-icons md-18">menu_book</i>
      Programmes
    </a>
    <a routerLink="worksheets" title="Feuilles de travail" routerLinkActive="active">
      <i class="material-icons md-18">style</i>
      Feuilles de travail
    </a>
    <a routerLink="inventory" title="Inventaire" routerLinkActive="active">
      <i class="material-icons md-18">store</i>
      Inventaire
    </a>
    <a routerLink="clients" title="Clients" routerLinkActive="active">
      <i class="material-icons md-18">apartment</i>
      Clients
    </a>
    <a routerLink="machines" title="Machines" routerLinkActive="active">
      <i class="material-icons md-18">laptop</i>
      Machines
    </a>
    <a routerLink="users" title="Utilisateurs" routerLinkActive="active">
      <i class="material-icons md-18">person</i>
      Utilisateurs
    </a>
    <a routerLink="rapport" title="Rapport" routerLinkActive="active">
      <i class="material-icons md-18">show_chart</i>
      Rapport
    </a>
  </div>
  <div class="logout">
    <a routerLink="" title="Déconnexion">Déconnexion</a>
  </div>
</div>
