<div class="nav-wrapper">
  <div class="header">
    <img src="../../../assets/images/amlogo.png" alt="Logo Affut Mill"/>
    <div class="title">Nova Gestion</div>
    <div class="user">Administrateur</div>
  </div>
  <div class="links">
    <a href="" title="Accueil">
      <i class="material-icons md-18">home</i>
      Accueil
    </a>
    <a href="" title="Programmes">
      <i class="material-icons md-18">menu_book</i>
      Programmes
    </a>
    <a href="" title="Feuilles de travail">
      <i class="material-icons md-18">style</i>
      Feuilles de travail
    </a>
    <a href="inventory" title="Inventaire">
      <i class="material-icons md-18">store</i>
      Inventaire
    </a>
    <a href="clients" title="Clients">
      <i class="material-icons md-18">apartment</i>
      Clients
    </a>
    <a href="machines" title="Machines">
      <i class="material-icons md-18">laptop</i>
      Machines
    </a>
    <a href="users" title="Utilisateurs">
      <i class="material-icons md-18">person</i>
      Utilisateurs
    </a>
    <a href="" title="Rapport">
      <i class="material-icons md-18">show_chart</i>
      Rapport
    </a>
  </div>
  <div class="logout">
    <a href="" title="Déconnexion">Déconnexion</a>
  </div>
</div>
