<div class="nav-wrapper">
  <div class="header">
    <img src="../../../assets/images/amlogo.png" alt="Logo Affut Mill"/>
    <div class="title">Nova Gestion</div>
    <div class="user">Administrateur</div>
  </div>
  <div class="links">
    <a href="" title="Accueil">
      <fa-icon [icon]="faHome"></fa-icon>
      Accueil
    </a>
    <a href="" title="Programmes">
      <fa-icon [icon]="faBook"></fa-icon>
      Programmes
    </a>
    <a href="" title="Feuilles de travail">
      <fa-icon [icon]="faClipboard"></fa-icon>
      Feuilles de travail
    </a>
    <a href="" title="Inventaire">
      <fa-icon [icon]="faStoreAlt"></fa-icon>
      Inventaire
    </a>
    <a href="" title="Clients">
      <fa-icon [icon]="faBriefcase"></fa-icon>
      Clients
    </a>
    <a href="" title="Machines">
      <fa-icon [icon]="faLaptopCode"></fa-icon>
      Machines
    </a>
    <a href="" title="Utilisateurs">
      <fa-icon [icon]="faUser"></fa-icon>
      Utilisateurs
    </a>
    <a href="" title="Rapport">
      <fa-icon [icon]="faChartPie"></fa-icon>
      Rapport
    </a>
  </div>
  <div class="logout">
    <a href="" title="Déconnexion">Déconnexion</a>
  </div>
</div>
