.btn-edit,
.btn-delete,
.btn-done,
.btn-cancel {
  height: 20px;
  width: 35px;
  background: none;
  border: none;
  color: #c0c0c0;
  cursor: pointer;
}

.btn-edit:hover {
  color: #2370b8;
}

.btn-delete:hover {
  color: #ff3823;
}

.btn-done:hover {
  color: #92d36e;
}

.btn-cancel:hover {
  color: #ff3823;
}

.table-content {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.search-add-content,
.table-header,
.table-row-no-hover,
.inputs {
  display: flex;
  width: 90%;
}

.table-item {
  display: flex;
  width: 33%;
}

.table-btn {
  display: flex;
  width: 33%;
}

.table-header {
  background-color: none;
  color: #2370b8;
  font-weight: bold;
  padding: 10px;
  font-size: 15px;
  margin-top: 20px;
}

.table-row, .table-row-no-hover {
  background-color: none;
  color: #000000;
}

.table-row:hover {
  background-color: rgb(35, 112, 184, 0.25);
}


.table {
  margin: 0 auto;
  width: 90%;
}
