<app-header [title]="'Gestion des clients'"></app-header>

<div class="table-header-content">
    <div class="table-header">
      <div class="table-item">NOM</div>
      <div class="table-item">Numéro de téléphone</div>
      <div class="table-item"></div>
    </div>
  </div>

  <div class="table-content">
    <div class="table-row-no-hover">
      <div class="table-item">
        <input type="text" placeholder="Nom" [(ngModel)]="name" [disabled]="inEdit">
      </div>
      <div class="table-item">
        <input type="text" placeholder="Numéro de téléphone" [(ngModel)]="phoneNumber" [disabled]="inEdit">
      </div>
      <div class="table-item">
        <app-button (clicked)="onAdd()" [label]="'Ajouter'" [style]="'primary'"></app-button>
      </div>
    </div>
  </div>

  <div *ngFor="let client of clients">
    <div *ngIf="selectedIndex !== client.idClient" class="table-content">
      <div class="table-row">
        <div class="table-item">{{client.name}}</div>
        <div class="table-item">{{client.phoneNumber}}</div>
        <div class="table-item">
          <button class="btn-edit" (click)="onEdit(client.idClient)" title="Modifier" [disabled]="inEdit">
            x
          </button>
          <button class="btn-delete" (click)="onDelete(client.idClient)" title="Supprimer" [disabled]="inEdit">
            x
          </button>
        </div>
      </div>
    </div>
    <app-edit-client *ngIf="selectedIndex == client.idClient" [client]="client" (done)="onDoneEdit(client)" (cancel)=(onCancelEdit())></app-edit-client>
  </div>
