<app-header [title]="'Gestion des feuilles de travail'"></app-header>
<div class="page-wrapper">
  <div class="top">
    <mat-form-field class="search">
      <input matInput placeholder="Recherche" [(ngModel)]="searchField" name="searchField"
             (keyup)="applyFilter($event.target.value)">
      <button mat-button *ngIf="searchField" matSuffix mat-icon-button aria-label="Effacer" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <app-button *ngIf="userType === 'Admin' || userType === 'Superviseur'" [label]="'Créer une feuille de travail'" [style]="'primary'" (click)="openWorkSheet(null)"></app-button>
  </div>

  <div class="mat-elevation-z0">

    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="idWorkSheet">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="header">ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.idWorkSheet}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="client">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="header quantity">CLIENT</mat-header-cell>
        <mat-cell *matCellDef="let row" class="quantity"><span *ngIf="row.client">{{row.client.name | truncate}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="order">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="header quantity">NUMÉRO DE COMMANDE</mat-header-cell>
        <mat-cell *matCellDef="let row" class="quantity">{{row.orderNumber | truncate}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="header quantity">DATE DUE</mat-header-cell>
        <mat-cell *matCellDef="let row" class="quantity">{{row.dueDate}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="header quantity">STATUT</mat-header-cell>
        <mat-cell *matCellDef="let row" class="quantity">
          <span *ngIf="row.status.idStatus === 1" class="waiting">{{row.status.name | truncate}}</span>
          <span *ngIf="row.status.idStatus === 2" class="affut">{{row.status.name | truncate}}</span>
          <span *ngIf="row.status.idStatus === 3" class="fab">{{row.status.name | truncate}}</span>
          <span *ngIf="row.status.idStatus === 4" class="coating">{{row.status.name | truncate}}</span>
          <span *ngIf="row.status.idStatus === 5" class="complete">{{row.status.name | truncate}}</span>
          <span *ngIf="row.status.idStatus === 6" class="out">{{row.status.name | truncate}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="controls">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="header controls"></mat-header-cell>
        <mat-cell *matCellDef="let row" class="controls">
          <mat-icon class="edit" (click)="openWorkSheet(row.idWorkSheet)">edit</mat-icon>
          <mat-icon class="delete" (click)="deleteWorkSheet(row.idWorkSheet)">delete</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" class="header"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
