input {
  height: 30px;
  border: #d8d8dd solid 1px;
  font-size: 15px;
  width: 90%;
}

.table-content {
  display: flex;
  justify-content: space-around;
}

.table-row {
  display: flex;
  width: 90%;
}

.table-item {
  width: 33%;
}

.btn-done,
.btn-cancel {
  height: 20px;
  width: 35px;
  background: none;
  border: none;
  color: #c0c0c0;
}

.btn-done:hover {
  color: #92d36e;
}

.btn-cancel:hover {
  color: #ff3823;
}
