.page-container {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.research-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-content {
  width: 35%;
}

.search-select-group {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.search-select {
  width: 45%;
}

.list-container {
  margin-top: 20px;
  width: 100%;
}

.table-header {
  text-transform: uppercase;
  color: #2370b8;
  font-weight: bold;
}

.table-row {
  background-color: transparent;
  color: #000000;
}

.controls {
  max-width: 10%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

mat-row:hover {
  background: #e4f4fd;
  transition: 0.2s all ease;

  .btn-edit {
    color: #2370b8;
    transition: 0.2s all ease;
  }

  .btn-delete {
    color: #ff3823;
    transition: 0.2s all ease;
  }
}

.btn-edit,
.btn-delete {
  height: 20px;
  width: 35px;
  background: none;
  border: none;
  color: #c0c0c0;
  cursor: pointer;
}
