.page-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.research-container {
  margin-top: 20px;
  width: 100%;
}

.list-container {
  margin-top: 20px;
  width: 100%;
}
